body{
    margin: 0;
    min-height: 150vh;
    display: flex;
    flex-direction: column;
    background-color: #E8F8FC;
}
@font-face {
    font-family: "Inter";
    src: url("/Inter-VariableFont_slnt\,wght.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.header {
    height: 70px;
    text-align: center;
    background-color: #69C9E4;
    color: #374043;
    font-size: 25px;
    display: flex;
    font-family: Inter;
    text-shadow: 1px 0px #374043;
    overflow: visible;
  }
  .hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #374043;
    cursor: pointer;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 7px;
    bottom: 0;
    left: 0;
    top: 30;
    background-color: #649CAC;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  #profilepic{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    border:10px solid #69C9E4; 
    float: right;
    z-index: 999999;
    object-fit: cover;
    position:sticky;
  }
  #logo{
    max-width: 100%;
    margin-left: 20px;
    max-height: 70px;
  }
  
.backgroundcolorhome{
    background-image: url("/Images/mountain.png");
    background-size: contain ;
    background-position-y: 550px;
    background-repeat: no-repeat;
    background-color: #A2DCED;
    min-height: 210vh;
}
.header > .headermenu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin-inline: auto;
    
    
}
.banner{
    background-color: #649CAC;
    height: 250px;
    z-index: 2;
    align-items: center;
  }
 
  #wlcmtxt{
    color: white;
    text-align: center;
   font-family: Inter;
   display: flex;
   font-size: 50px;
   z-index: 2;
   align-items: center;
  }
  #est{
    color: white;
    font-family: Inter;
    font-size: 25px;
    z-index: 3;
    align-items: center;
    margin-top: -2rem;
  }
  .banner-text{
    margin-left: 10rem;
  }

  .hpbutton{
    /* width: 500px;
    height: 400px; */
    background-color: #649CAC;
    border-radius: 45px;
    opacity: 100%;
    position: relative;
    margin-bottom: 1rem;
    overflow: clip;
    box-shadow: 2px 2px 5px 1px rgb(55, 64, 67);
    max-width: 332px;
    max-height: 420px;
    min-width: 332px;
    opacity: 0;
    transform: translateY(50%);
    animation: slide linear forwards;
    animation-timeline: view();
    animation-range-start: cover 200px;
    animation-range-end: cover 500px;

  }
  .hpbuttontitle{
    color: white;
    font-family: Inter;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px #374043;
    margin: 20px;
  }
  #gamesbutton{
    max-width: 332px;
    max-height: 420px;
  }
  .gameicons{
    max-width: 100%;
    min-height: 89.45px;
  }
  .gamediv{
    opacity: 100%;
    /* border-bottom-left-radius:10px; */
    transition: 1s;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
  

  
  .gamediv:hover{
    opacity: 60%;
  }
  
 .ovlytxt{
  color: black;
  font-size: 30px;
  opacity: 0%;
  margin-top: -250px;
  width: 250px;
  margin-left: 20px;
  font-family: Inter;
  position: absolute;
  top: 50%;
  right: 50%;
  translate: -50% -50%;
 }
  
  .hpmenu {
    display: grid;
    max-width: 1300px;
    grid-template-columns: repeat(3, 1fr);
    gap: 7rem;
    padding-inline: 6rem;
    place-items: center;
    margin-top: 7rem;
    margin-bottom: 3rem;
    place-self: center;
  }
  .hpmenu2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-inline: 10rem;
    place-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .forumpost{
    width:fit-content;
    height: 80px;
    background-color: #E8F8FC;
    text-align: center;
    
    border-bottom: 1px solid #899EA4;
    margin-top: 0px;
  }
  .forumtext{
    color: #374043;
    font-family: Inter;
    font-size: 20px;
    display: block;
    margin-top: 0;
  }
  #bentforum{
    border-bottom-left-radius:45px;
    border-bottom-right-radius:45px;
  }
  .friendsdiv{
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #E8F8FC;
    border-bottom: 1px solid #899EA4;
    margin-top: 0px;
    position: relative;
    
  }
  .pfpics{
    width: 70px;
    height: 70px;
  }
  .friendsnames{
    color: #374043;
    font-family: Inter;
    font-size: 25px;
    display: block;
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 1rem;
  }
  .online-status{
    color: #374043;
    font-family: Inter;
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 3rem;
    margin-left: 5.5rem;
    position: absolute;
  }
  .chat-icon{
    width: 50px;
    height: 50px;
    margin-left: auto;
  }
  #bentfriends{
    border-bottom-left-radius:45px;
    border-bottom-right-radius:45px;
  }
  .hp-chat{
    color: #374043;
    font-family: Inter;
    font-size: 17px;
    display: block;
    text-align: center;
  }

.pfp-wrapper {
  position: relative;
  width: 70px;
  height: 70px;
}

  .pfp-wrapper::after {
    position: absolute;
    top: 0;
    right: 0;
    content: attr(notifications);
    border-radius: 50%;
    background-color: red;
    border: 1px solid white;
    width: 16px;
    height: 16px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-size: 10px;
  }

  footer{
    background-color: #899EA4;
    height: 80px;
     position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    flex-grow: 1;
  }

  .footer-setting{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-left: auto;
   
  }

  
  #settings-head-text{
    color: #374043;
    font-family: Inter;
    font-size: 40px;
    margin-bottom: 1rem;
    width: 90%;
    text-align: center;
    margin-left: 5%;
  }
  .option-desc-text{
    color: #374043;
    font-family: Inter;
    font-size: 30px;
    margin-top: 3rem;
  
  }
  .setting-button-icon{
    width: 100px;
  }
  .option-buttons{
    float: right;
    margin-top: -5.5rem;
  }
 .footerdiv{
  position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
 }
 #setting-underline{
  height: 5px;
  background-color: #374043;
  border-radius: 20px;
  align-self: center;
   
 }
 .setting-div{
  align-items: center;
  justify-content: center;
  width: 60%;
  align-self: center;
 }
 
 .mp-text{
  color: #374043;
    font-family: Inter;
    font-size: 40px;
    margin-left: 9%;
 }
 .slideanim {
  visibility:hidden;
  visibility:visible\9;/*For old IE browsers IE6-8 */
}
.slideanim.slide {                  
  visibility: visible;                  
  animation: slide 1s;
}
.slideanim::after {
  /* useful when its child elements are float:left; */
  content: "";
  display: table;
  clear: both;
}
@keyframes slide {
  0% {
      opacity: 0;
      transform: translateY(50%);
  } 
  100% {
      opacity: 1;
      transform: translateY(0);
  } 
}
.big-games-icons{
  width: 100%;
  aspect-ratio: 1;
  border-radius: 30px;
  box-shadow: 2px 2px 5px 1px rgb(55, 64, 67);
  object-fit: cover;
  opacity: 0;
    transform: translateY(50%);
    animation: slide linear forwards;
    animation-timeline: view();
    animation-range-start: cover 200px;
    animation-range-end: cover 500px;
}
.big-games{
  max-width: 1300px;
  grid-template-columns: repeat(6, 1fr);
  gap: 1rem;
  display: grid;
  /* background-color: #899EA4; */
  margin-inline: auto;
 }


 .game-banner{
  background-color: #649CAC;
    height: 300px;
    z-index: 1;
    display: flex;
    grid-area: auto;
 }
.game-banner-icon{
  height: 250px;
  width: 250px;
  border-radius: 25px;
  margin-top: 2%;
  margin-left: 3%;
  box-shadow: 2px 2px 5px 1px rgb(55, 64, 67);
  object-fit: cover;
  z-index: 10;
}
.game-name{
  color: white;
    text-align: center;
   font-family: Inter;
   font-size: 40px;
   z-index: 20;
  margin-left: 5rem;
  float: left;
}
.game-description-text{
  color: white;
    text-align: center;
   font-family: Inter;
   font-size: 15px;
   width: 750px;
   z-index: 20;
  margin-left: 5rem;
  float: left;
  text-align: left;
}
.profile-page-pic{
  height: 175px;
  width: 175px;
  border-radius: 100%;
  object-fit: cover;
  z-index: 10;
  margin-left: 3%;
  margin-top: 2%;
  border: 10px solid #69C9E4;
}
.user-name{
  color: white;
    text-align: center;
   font-family: Inter;
   font-size: 40px;
   z-index: 20;
}
.achievement-header{
  color: #374043;
    font-family: Inter;
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 2px white;
    margin: 20px;
    margin-top: 2rem;
}
.playstation-logo{
  max-width: 90%;
  place-self: center;
}
.ps-trophy-page{
  height: 19rem;
  background-color: #DAE6E9; 
  align-items: center;
  display: grid;
  
}
#playstation-base{
  background-color: white;
  margin-left: 3rem;
}
.achievements{
  width: 50px;
  height: auto;
  margin-left: 1rem;
  margin-top: 1rem; 
}
.achievement-text{
  font-family: Inter;
}
.achievement {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.friend-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: auto;
  max-width: 1300px;
  gap: 3rem;
  margin-top: 2rem;
  opacity: 0;
    transform: translateY(50%);
    animation: slide linear forwards;
    animation-timeline: view();
    animation-range-start: cover 200px;
    animation-range-end: cover 400px;
}
.friend-box{
  max-width: 420px;
  max-height: 193px;
  background-color: #DAE6E9;
  border-radius: 14px; 
  box-shadow: 2px 2px 5px 1px rgb(55, 64, 67);
}
.friend-search-bar{
  max-width: 700px;
  max-height: 60px;
  background-color: #DAE6E9;
  margin-top: 4rem;
  border-radius: 100px;
  margin-left: 8rem;
  display: flex;
  box-shadow: inset 1px 1px 2px 0.5px rgb(55, 64, 67);
}
.friend-search-text{
  font-family: Inter;
  margin-left: 2rem;
  font-size: 25px;
  margin-top: 15px;
  opacity: 50%;
}
#one-time-search-margin{
  margin-bottom: 5rem;
}
.friend-icon{
  width: 140px;
  margin-top: 1rem;
  margin-left: 1rem;
}
.friend-name{
  color: #374043;
  font-family: Inter;
  font-size: 32px;
  width: 120px;
  float: right;
  margin-right: 6rem;
}
.friend-name-online-status{
  color: #374043;
  font-family: Inter;
  font-size: 20px;
  width: 180px;
  float: right;
  margin-right: 2.5rem;
  margin-top: -4rem;
}
.forum-posts-div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-inline: auto;
  max-width: 1300px;
  gap: 3rem;
  margin-top: 2rem;
}
.forum-posts{
  max-width: 430px;
  min-height: 225px;
  background-color: #DAE6E9;
  border-radius: 14px; 
  box-shadow: 2px 2px 5px 1px rgb(55, 64, 67);
  opacity: 0;
    transform: translateY(50%);
    animation: slide linear forwards;
    animation-timeline: view();
    animation-range-start: cover 200px;
    animation-range-end: cover 500px;
}
.forum-post-header{
  color: #374043;
  font-family: Inter;
  font-size: 24px;
  max-width: 380px;
  margin-left: 1rem;
}
.forum-posted-by{
  color: #374043;
  font-family: Inter;
  font-size: 16px;
  max-width: 380px;
  margin-left: 1rem;
}
.forum-related-game{
  color: #374043;
  font-family: Inter;
  font-size: 16px;
  max-width: 380px;
  margin-right: 1rem;
  margin-top: 2rem;
  float: right;
}
.forum-game-icon{
  float: right;
  max-width: 50px;
  max-height: 50px;
  border-radius: 12px;
  margin-right: 1rem;
  margin-top: 1rem;
  opacity: 70%;
  box-shadow: 2px 2px 5px 1px rgb(55, 64, 67);
}
.forum-game-icon:hover{
  opacity: 100%;
  transition: 0.5s;
}
.forum-header-intro{
  color: #374043;
  font-family: Inter;
  font-size: 40px;
  max-width: 380px;
  margin-left: 8rem;
}
.game-guide-div{
  background-color: #E8F8FC;
  width: 90%;
  align-self: center;
  margin-top: 2rem;
  border-radius: 25px;
  box-shadow: 1px 2px 5px 1px rgb(55, 64, 67);
  margin-bottom: 10rem;
  opacity: 0;
    transform: translateY(50%);
    animation: slide linear forwards;
    animation-timeline: view();
    animation-range-start: cover 200px;
    animation-range-end: cover 500px;
}
.game-achievement-icons{
  width: 150px;
  margin-left: 1rem;
  margin-top: 1rem;
  float: left;
}
.game-achievement-boxes{
  width: 95%;
  background-color: #DAE6E9;
  margin:auto;
  border-radius: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 182px;
  opacity: 0;
    transform: translateY(50%);
    animation: slide linear forwards;
    animation-timeline: view();
    animation-range-start: cover 100px;
    animation-range-end: cover 300px;
}
.game-achievement-name-header{
  color: #374043;
  font-family: Inter;
  font-size: 32px;
  float: left;

}
.achievement-name-desc{
  color: #374043;
  font-family: Inter;
  font-size: 20px;
}
.achievement-desc-div{
  float: left;
  margin-left: 4rem;
  display: grid;
}
@media (max-width: 1250px) {

}
@media (max-width: 1250px) {

}